<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous"/>


    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

    <title>Pagination</title>
</head>
<body>



<div class="container bg-light mt-5">
    <h1 class="display-4">Pagination</h1>


    <h5 class="formHeader">Enter New Lead!</h5>
    <form id="form" action="/lead/new/" method="POST">
        <div class="form form-row">
        {% csrf_token %}

        <div class="d-inline-block mx-2">
            <h6>First Name:</h6>
            {{ lead_form.first_name }}
        </div>
        <div class="d-inline-block mx-2">
            <h6>Last Name:</h6>
            {{ lead_form.last_name }}
        </div>
        <div class="d-inline-block mx-2">
            <h6>Email:</h6>
            {{ lead_form.email }}
        </div>
        
        
    
        <div class="ml-4 btn btn-lg btn-info" id="formSubmit">Submit</div>
        </div>
    </form>

    <br><br><hr>
    <div class="pagination">
        <h1 class="display-4">Leads</h1>
        <p class="ml-auto text-lead text-primary text-lg">
            <h6 class="tPagesHeader mr-3">Table Pages</h6>
                <a href="#" data-id="" class="mx-2 arrLink leftArrow" id="1" > <i class="fas fa-angle-double-left"></i>
 </a> 



                    <p>|</p>
                    <div class="pag1Div">
                        <a href='#' class="isDisabled disabled pag1 mx-2 pagLink" id="1">1</a>
                    </div>
                    <p>|</p>
                    <div class="pag2Div">
                        <a href='#' class="pag2 mx-2 pagLink" id="2">2</a> 
                    </div>
                    <p>|</p>
                    <div class="pag3Div">
                        <a href='#' class="pag3 mx-2 pagLink" id="3">3</a> 
                    </div>
                    <p>|</p>
                    <div class="pag4Div">
                        <a href='#' class="pag4 mx-2 pagLink" id="4">4</a> 
                    </div>
                    <p>|</p>
                    <div class="pag5Div">
                        <a href='#' class="pag5 mx-2 pagLink" id="5">5</a> 
                    </div>
                    <p>|</p>


            <div class="d-none" id="maxPages" value='{{ maxPages|add:"-1" }}'>{{ maxPages|add:"-1" }}</div>
            <a href='#' data-id="" class="mx-2 arrLink rightArrow" id="2" > <i class="fas fa-angle-double-right"></i> </a>
            
            <div class="d-none" id="currentPage" value="1">1</div>
        </p>

    </div>



    <table id="table" class="table table-dark table-striped mb-5">
        <thead>
        <tr>
        <th scope="col" class="text-warning">Leads ID</th>
        <th scope="col" class="text-warning">First Name</th>
        <th scope="col" class="text-warning">Last Name</th>
        <th scope="col" class="text-warning">Registered Datetime</th>
        <th scope="col" class="text-warning">Email</th>
        </tr>
        </thead>
        <tbody id="tableBody">
            {% for lead in renderTable %}
                <tr>
                    <th scope="row">{{ lead.id }}</th>
                    <td>{{ lead.first_name }}</td>
                    <td>{{ lead.last_name }}</td>
                    <td>{{ lead.created_at }}</td>
                    <td>{{ lead.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




</div>




</body>


<script>
    // formSubmit
    $(document).ready(function(){
        $(document).on('click', '#formSubmit', function(){
            $.ajax({
                url:"/lead/new/",
                method:"POST",
                data: $('#form').serialize(),
                success:function(response){
                    // add new instance to table
                    console.log('Successful Form Submittal, Response:', response)
                    $('#table').html(response)
                }
            },
            "json");

            $('#form').trigger('reset');
        })

        $(document).on('click', '.pagLink', function(){
            var id = $(this).attr('id');
            var maxPages = $('#maxPages').attr('value');
            $.ajax({
                url:"/lead/" + id,
                method:"GET",
                
                success:function(response){



                    




                    // add new instance to table
                    $('#table').html(response)
                    
                    if(id >= maxPages){
                        id = maxPages;
                    }
                    if(id >= maxPages){
                        $('.rightArrow').attr("id", maxPages)
                    }
                    else{

                        $('.rightArrow').attr("id", parseInt(id)+1)
                    }

                    if(id <= 1){
                        $('.leftArrow').attr("id", 1)

                    }
                    else{
                        var newId = parseInt(id)-1;
                        $('.leftArrow').attr("id", newId)

                    }
                    $('#currentPage').attr('value', id)

                    let curPage = $('#currentPage').attr('value');
                    var numPages = $('#maxPages').attr('value');

                    var curPlus1 = parseInt(curPage) + 1
                    var curPlus2 = parseInt(curPage) + 2
                    var curPlus3 = parseInt(curPage) + 3
                    var curPlus4 = parseInt(curPage) + 4
                    var curMinus4 = parseInt(curPage) - 4
                    var curMinus3 = parseInt(curPage) - 3
                    var curMinus2 = parseInt(curPage) - 2
                    var curMinus1 = parseInt(curPage) - 1


                    if(numPages >= 5){
                        if(curPage < 3){
                            

                            if(curPage == 2){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag2Div').html('<a href="#" class="isDisabled pag2 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus3 + '">' + curPlus3 +'</a>')
                            }
                            else{
                                $('.pag1Div').html('<a href="#" class="isDisabled pag1 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus3 + '">' + curPlus3 +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus4 + '">' + curPlus4 +'</a>')
                            }
                        }
                        
                        if(curPage >= numPages - 2){
                            if(curPage == numPages){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus4 + '">' + curMinus4 +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus3 + '">' + curMinus3 +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag5Div').html('<a href="#" class="isDisabled pag5 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')
                            }
                            else {
                                if(curPage == numPages - 1){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus3 + '">' + curMinus3 +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag4Div').html('<a href="#" class="isDisabled pag4 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')
                                }

                                else if(curPage == numPages - 2){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag3Div').html('<a href="#" class="isDisabled pag3 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')
                                }
                            }
                        }

                        if(curPage >= 3 && curPage < numPages - 2){
                            $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                            $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                            $('.pag3Div').html('<a href="#" class="disabled isDisabled pag3 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                            $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                            $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')
                        }
                    }
                    //Less than 5 pages, unsure if '#pag' + (numPages - i) will work
                    else {
                        for(var i = 1; i <= numPages; i++){
                            if(i == curPage){
                                $('.pag' + i + 'div').html('<a href="#" class="disabled isDisabled pag' + i + ' mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')
                            }
                            else{
                                $('.pag' + i + 'div').html('<a href="#" class="pag' + i + ' mx-2 pagLink" id="' + i + '">' + i +'</a>')
                            }
                            
                        }
                        $('.pag5Div').html('<a href="#" class="disabled isDisabled pag5 mx-2 pagLink" id="' + 5 + '">' + 5 +'</a>')

                        if(numPages < 4){
                            $('.pag4Div').html('<a href="#" class="disabled isDisabled pag4 mx-2 pagLink" id="' + 4 + '">' + 4 +'</a>')
                        }
                        if(numPages < 3){
                            $('.pag3Div').html('<a href="#" class="disabled isDisabled pag3 mx-2 pagLink" id="' + 3 + '">' + 3 +'</a>')
                        }
                        if(numPages < 2){
                            $('.pag2Div').html('<a href="#" class="disabled isDisabled pag2 mx-2 pagLink" id="' + 2 + '">' + 2 +'</a>')
                        }
                        if(numPages < 1){
                            $('.pag1Div').html('<a href="#" class="disabled isDisabled pag1 mx-2 pagLink" id="' + 1 + '">' + 1 +'</a>')
                        }
                        

                    }








                }
            },
            "json");

            $('#form').trigger('reset');
        })






    


        //AJAX Handler for Arrow Buttons
        $(document).on('click', '.arrLink', function(){
            var id = $(this).attr('id');
            var maxPages = $('#maxPages').attr('value');
            $.ajax({
                url:"/lead/" + id,
                method:"GET",

                success:function(response){
                    

                    // add new instance to table
                    $('#table').html(response)
                    if(id >= maxPages){
                        id = maxPages;
                    }
                    if(id >= maxPages){
                        $('.rightArrow').attr("id", id)

                    }
                    else{
                        var newId = parseInt(id) + 1;
                        $('.rightArrow').attr("id", newId)
                    }

                    if(id <= 1){
                        $('.leftArrow').attr("id", 1)

                    }
                    else{
                        var newId = parseInt(id) - 1;
                        $('.leftArrow').attr("id", newId)

                    }
                    $('#currentPage').attr('value', id)




                    var curPage = $('#currentPage').attr('value');
                    var numPages = $('#maxPages').attr('value');
                    var curPlus1 = parseInt(curPage) + 1
                    var curPlus2 = parseInt(curPage) + 2
                    var curPlus3 = parseInt(curPage) + 3
                    var curPlus4 = parseInt(curPage) + 4
                    var curMinus4 = parseInt(curPage) - 4
                    var curMinus3 = parseInt(curPage) - 3
                    var curMinus2 = parseInt(curPage) - 2
                    var curMinus1 = parseInt(curPage) - 1

                    if(numPages >= 5){
                        if(curPage < 3){
                            

                            if(curPage == 2){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag2Div').html('<a href="#" class="isDisabled pag2 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus3 + '">' + curPlus3 +'</a>')
                            }
                            else{
                                $('.pag1Div').html('<a href="#" class="isDisabled pag1 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus3 + '">' + curPlus3 +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus4 + '">' + curPlus4 +'</a>')
                            }
                        }
                        
                        if(curPage >= numPages - 2){
                            if(curPage == numPages){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus4 + '">' + curMinus4 +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus3 + '">' + curMinus3 +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag5Div').html('<a href="#" class="isDisabled pag5 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')
                            }
                            else {
                                if(curPage == numPages - 1){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus3 + '">' + curMinus3 +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                                $('.pag3Div').html('<a href="#" class="pag3 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag4Div').html('<a href="#" class="isDisabled pag4 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')
                                }

                                else if(curPage == numPages - 2){
                                $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                                $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                                $('.pag3Div').html('<a href="#" class="isDisabled pag3 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                                $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                                $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')
                                }
                            }
                        }

                        if(curPage >= 3 && curPage < numPages - 2){
                            $('.pag1Div').html('<a href="#" class="pag1 mx-2 pagLink" id="' + curMinus2 + '">' + curMinus2 +'</a>')

                            $('.pag2Div').html('<a href="#" class="pag2 mx-2 pagLink" id="' + curMinus1 + '">' + curMinus1 +'</a>')

                            $('.pag3Div').html('<a href="#" class="disabled isDisabled pag3 mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')

                            $('.pag4Div').html('<a href="#" class="pag4 mx-2 pagLink" id="' + curPlus1 + '">' + curPlus1 +'</a>')

                            $('.pag5Div').html('<a href="#" class="pag5 mx-2 pagLink" id="' + curPlus2 + '">' + curPlus2 +'</a>')
                        }
                    }
                    //Less than 5 pages, unsure if '#pag' + (numPages - i) will work
                    else {
                        for(var i = 1; i <= numPages; i++){
                            if(i == curPage){
                                $('.pag' + i + 'div').html('<a href="#" class="disabled isDisabled pag' + i + ' mx-2 pagLink" id="' + curPage + '">' + curPage +'</a>')
                            }
                            else{
                                $('.pag' + i + 'div').html('<a href="#" class="pag' + i + ' mx-2 pagLink" id="' + i + '">' + i +'</a>')
                            }
                            
                        }
                        $('.pag5Div').html('<a href="#" class="disabled isDisabled pag5 mx-2 pagLink" id="' + 5 + '">' + 5 +'</a>')

                        if(numPages < 4){
                            $('.pag4Div').html('<a href="#" class="disabled isDisabled pag4 mx-2 pagLink" id="' + 4 + '">' + 4 +'</a>')
                        }
                        if(numPages < 3){
                            $('.pag3Div').html('<a href="#" class="disabled isDisabled pag3 mx-2 pagLink" id="' + 3 + '">' + 3 +'</a>')
                        }
                        if(numPages < 2){
                            $('.pag2Div').html('<a href="#" class="disabled isDisabled pag2 mx-2 pagLink" id="' + 2 + '">' + 2 +'</a>')
                        }
                        if(numPages < 1){
                            $('.pag1Div').html('<a href="#" class="disabled isDisabled pag1 mx-2 pagLink" id="' + 1 + '">' + 1 +'</a>')
                        }
                        

                    }




                }
            },
            "json");

            $('#form').trigger('reset');
        })









    })



</script>








</html>